<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    
    <title>Aertas de produto agotadp</title>
</head>

<body>

    <div>

        <div class="form-group">
            <h1>Productos Agotados</h1>
            <fieldset>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Alerta</th>
                            <th scope="col">ID</th>
                            <th scope="col">Nombre del juego</th>
                            <th scope="col"># </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-warning">
                            <th scope="row">Warning</th>
                            <td>001</td>
                            <td>Nier Automata</td>
                            <td>0</td>
                        </tr>
                        <tr class="table-warning">
                            <th scope="row">Warning</th>
                            <td>Column content</td>
                            <td>Column content</td>
                            <td>Column content</td>
                        </tr>
                        <tr class="table-warning">
                            <th scope="row">Warning</th>
                            <td>Column content</td>
                            <td>Column content</td>
                            <td>Column content</td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>

        </div>

    </div>


</body>

</html>