<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Decripciones </title>
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
</head>

<body>
    <div class="mainWrapper">
        <h1> Decripciones de Apartdos y Ventas </h1>

        <table class="table table-hover">
            <tbody>
                <tr class="table-active">

                    <tr class="table-secondary">
                        <td>APARTADOS</td>
                    </tr>
                </tr>
            </tbody>
        </table>

        <table class="table table-hover">
            <tbody>
                <tr class="table-active">
                    <tr class="table-primary">
                        <th scope="row">idApartado</th>
                        <td>Cliente</td>
                        <td>Fecha</td>
                        <td> <button type="button" class="btn btn-info">Ver Detalles</button></td>
                    </tr>
                </tr>
            </tbody>
        </table>


        <table class="table table-hover">
            <tbody>
                <tr class="table-active">

                    <tr class="table-secondary">
                        <td>VENTAS</td>
                    </tr>
                </tr>
            </tbody>
        </table>

        <table class="table table-hover">
            <tbody>
                <tr class="table-active">
                    <tr class="table-primary">
                        <th scope="row">idVenta</th>
                        <td>Cliente</td>
                        <td>Fecha</td>
                        <td> <button type="button" class="btn btn-info">Ver Detalles</button> </td>
                    </tr>
                </tr>
            </tbody>
        </table>


    </div>
    <script>
        require('./index.js')
    </script>
</body>

</html>